:root {
  --color-primary: #156504;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}
.navbar {
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup {
  height: 55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signup-form input {
  height: 25px;
  border-radius: 8px;
  border-color: var(--color-text-dark);
}
.signup-input button {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.signup-form div input {
  width: 25em;
}

.signup-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-input h3 {
  color: var(--color-text);
  font-size: 25px;
}
.name-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.about-feedback p {
  color: var(--color-text-dark);
  font-size: 14px;
}
